
.col{
margin:5%;
margin-bottom:30px ;

}
.col-3{
    height: 90%;
    width: 50%;
    margin-top: 10px;
    padding: 0px;
}
.col-3 h1, p {
    
    padding-left: 20px;
}
.c3{
    background-color: rgb(178, 217, 233);
}
h6{
    font-size: large;
    border-bottom: 2px solid rgb(238, 238, 238);
    margin: 10%;
    text-align: left;
}

.col-6{
    padding-left: 0px;
}


/* LIST */
button{
    margin-left: 10px;
}

/* Color theo ô chẵn - lẻ: even- chẵn, odd- lẻ */
tr:nth-child(even) {background-color: rgb(32, 41, 32);}
tr:nth-child(odd) {background-color: rgb(73, 62, 45);}

/* FORM */
.container{
    
    
    width: 450px;
    height: 350px;
    font-family: inherit;

}
.box{
    width: 100%;
    height: 260px;
    background-color: rgb(240, 240, 240);
    text-align: left;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 150px;
    padding-left: 25px;
    padding-top: 20px;
    box-shadow: 5px 5px rgb(125 125 125 / 24%);

}
input{
    width: 90%;
    height: 20px;
    padding: 20px;
    border-radius: 5px;
    border:none;
    background-color: rgb(202, 221, 240);
    margin-bottom: 15px;
    display: flex;
}



form{
    width: 110px;
    padding-top: 20px;
    font-size: 20px;
    border-radius: 5px;
   
}

