* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;

}

#main {
    
    height: 800px;
    background-color: rgb(244,247,252);
    display: flex;
}

#box {
    margin: auto;
    width: 20%;
    height: 90%;
    border: solid 1px rgb(125, 125, 125);
    background-color: white;
    box-shadow: 5px 5px rgba(76, 76, 76, 0.153);

    text-align: center;
    position: relative;
}

#box .picture {
    width: 80%;
    height: 28%;
    margin: 20px auto;
}

/* UPBOX IMG */
#box .p1 {
    background-image: url("https://24s.vn/anh-dai-dien-cho-facebook-de-thuong/imager_3918.jpg");
    background-size: cover;
}
#box .p2 {
    background-image: url("./picture/meo1.jpg");
    background-size: cover;
}
#box .p3 {
    background-image: url("./picture/meo2.jpg");
    background-size: cover;
}
#box .p4 {
    background-image: url("./picture/meo3.jpg");
    background-size: cover;
}




#box h4 {
    color: rgba(0, 0, 0, 0.6);
}

#box h5 {
    color: rgba(0, 0, 0, 0.5);
}

#box .board {
    height: 20%;
    padding: 0 30px;
    margin-top: 30px;
}

#box .board .row {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.405);
    margin-bottom: 10px;
    position: relative;
    display: flex;
}

.row {
    display: flex;
}

.row .row_left {
    width: 30%;
    display: flex;
}

.row_left h4 {
    margin-left: 10px;

}

.row .row_right{
    width: 70%;
    text-align: right;
}

i {
    max-width: 16px;
    min-width: 16px;
    /* font-size: 20px; */
    color: rgb(46, 46, 46);
}

.bot_box {
    height: 70%;
    width: 100%;
    padding: 10px;
    background-color: yellow;
    box-shadow: 5px 5px rgba(125, 125, 125, 0.242);
    margin-top: 20px;
    text-align: left;
    
}

.bot_box>* {
    margin: 15px;
}
